# Configuração da Porta do Servidor
PORT=5000

# Chave secreta de encriptação para tokens JWT (substituir em produção)
JWT_SECRET=sua_chave_secreta_super_segura_de_producao

# URL de Conexão com o Azure SQL Database (Substitua as credenciais)
# Formato padrão MSSQL: sqlserver://SEU_SERVIDOR.database.windows.net:1433;database=NOME_BANCO;user=USUARIO;password=SENHA;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
DATABASE_URL="sqlserver://belklock-server.database.windows.net:1433;database=belklock-db;user=meuUsuario;password=minhaSenha;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"

# Conexão com o Azure Blob Storage (Para fotos do Feed e Produtos)
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=belklockstorage;AccountKey=CHAVE_AQUI;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER_NAME="semijoias"
